var config = {}

config.feed_url = 'http://www.example.org/feeds/rss';
    
config.trello_key = "................................";

config.trello_token = "................................................................";

config.board_id = '........................';

config.target_list_name = 'Incoming';

module.exports = config;


